@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1170px;
    padding-top: 40px;
    margin: 0 auto;
}

.wrapper__card {
    display: flex;
}

.card__user {
    width: 270px;
    height: 380px;
    margin-right: 30px;
}

.photo__card {
    height: 79%;
    width: 100%;
    position: relative;
}

.photo__card img {
    filter: grayscale(100%);
}

.text__card {
    height: 21%;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.text__card h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
    transition:all 1s;
}

.text__card p {
    font-size: 13px;
    color: #73828d;
}

.description__user h3 {
    font-weight: bold;
    margin: 0 10px;
    line-height: 22px;
    margin-bottom: 11px;
}

.description__user p {
    margin: 0 10px;
    line-height: 24px;
    flex: 1 1 auto;
}

.links__wrapper {
    width: 100%;
    height: 42px;
    display: flex;
    justify-content: center;
}

.links__wrapper a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: 42px;
    margin-left: 4px;
    background-color:#0d7c66;
}

.description__user {
    display: flex;
    flex-direction: column;
    background-color: #1ab898;
    position: absolute;
    top: 40px;
    width: 270px;
    height: 300px;
    text-align: center;
    padding: 22px 10px 22px 10px;
    box-sizing: border-box;
    font-size: 16px;
    color: white;
    opacity: 0;
    transition: all 1s;
}

.first__card__description {
    height: 0px;
}

.second__card__description{
    top: -300px;
}

.third__card__description{
    transform: translateX(100px);
}

.forth__card__description{
    transform: rotate(100deg);
}

.card__user:hover .description__user {
    height: 300px;
    opacity: 1;
    width: 270px;
    top: 40px;
    transform: translateX(0px);
}

.card__user:hover .text__card h3 {
    color: #0eb493;
}